@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



:root{
--sky-500: #00bfff; /* shiny sky-blue */
}


html,body,#root,#__next{height:100%;}
body{background:linear-gradient(180deg,#000000,#00111a);}


/* small helper so pre-wrap works nicely */
.message { white-space: pre-wrap; }